
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  justify-content: center;
  text-align: center;
  align-items: center;
}
code{
  font-size: 20px;
  display: inline-flex;
  text-align: start;
  align-content: flex-start;
  max-width: 700px;
  padding: 4px;
  box-shadow:0px 0px 0px 1px black inset;
}
header{
  -moz-box-shadow: 0;
  -webkit-box-shadow: 0;
  box-shadow: 0;
	width:100%;
	height: 140px;
	position: fixed;
	overflow: hidden;
	background:transparent;
	z-index: 10;
	-webkit-transition:all 275ms ease, position 0ms;
	-o-transition:all 275ms ease, position 0ms;
	transition:all 275ms ease, position 0ms;
}
.header2 {
  position:fixed;
  background-color: #1e6cc5;
  box-shadow: 0px 1px 8px #000000;
	height:80px;
}
.header2 .logo{
	line-height:80px;
	font-size:30px
}
.header2 nav{
	line-height:80px;
}

header nav *{
  vertical-align: middle;
}

.wrapper{
	width:90%;
	max-width:1200px;
	margin:auto;
	overflow:hidden;
	-webkit-transition:all 350ms ease;
	-o-transition:all 350ms ease;
	transition:all 350ms ease;
}
header .logo{
	color:#f2f2f2;
	font-size:40px;
	letter-spacing: 8px;
	line-height:140px;
	float:left;
	-webkit-transition:all 350ms ease;
	-o-transition:all 350ms ease;
	transition:all 350ms ease;
	font-family: 'Raleway', Helvetica, sans-serif;
}

header nav{
	float: right;
	display: inline-block;
	line-height:140px;	
	-webkit-transition:all 350ms ease;
	-o-transition:all 350ms ease;
	transition:all 350ms ease;
}
header .logo:hover{
  letter-spacing: 14px;
  background: initial;
  color: white;
}
a{
  text-decoration:none;
  font-family: Lato, Arial, Helvetica, sans-serif;
  font-size: 18px;
  color:#000;
}
.main a{
  padding: 10px 20px !important;
  vertical-align: middle;
  color: white;
  box-shadow:0px 0px 0px 3px white inset;
  line-height: normal;
  border-radius:25px;
  font-size:20px;	
	-webkit-transition:all 350ms ease;
	transition:all 350ms ease;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
  user-select: none;
}
.main a.opuesto, .main a.opuesto *{
  color: rgb(16, 90, 201);
}
.main a.opuesto{
  box-shadow:0px 0px 0px 3px rgb(16, 90, 201) inset;
}
.main a.opuesto:hover {
	background:rgb(16, 90, 201) ;
	color: white ;
}
.main a.opuesto:hover *{
	color: white ;
}
.centro {
  display: inline-flex;
  margin-top: 10px
}
.centro i {
  padding: 0;
  -webkit-transition:all 350ms ease;
	transition:all 350ms ease;
}
.centro > i {
  padding-left: 10px;
}
.main a:hover{
	background:white;
	color: rgb(31, 106, 192);
}
.main a:hover *{
  color: rgb(31, 106, 192);
}

footer {
  padding: 40px;
  background: #609fe7
}
#nav-about{
  order: 1
}
#nav-apps{
  order: 2
}
#nav-logo{
  order: 3
}
#nav-tec{
  order: 4
}
#nav-contact{
  order: 5
}

header nav a{
  display:inline-block;
  top: 50%;
  color:#fff;
	text-decoration:none;
	padding: 10px 20px !important;
  line-height: normal;
  font-size:20px;	
	font-family: Lato, Helvetica, sans-serif;
	-webkit-transition:all 350ms ease;
	transition:all 350ms ease;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
  user-select: none;
}
header nav a:hover{
	background:#FFF;
	border-radius:25px;
	color: rgb(31, 106, 192);
}
.unselectable{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	user-select: none;
}
.main{
  z-index: 1;
}
#app_hacemos{
  padding-top: 120px;
  display: flex;
  width: 100%;
  height: 90vh;
  vertical-align: middle;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-image: url('images/pic1.jpg');
  background-attachment: fixed;
  background-size: cover
}
#app_hacemos * {
  color: white
}
.contenido{
  padding-top: 120px;
  margin-top: -120px
}
li {
  padding-left: 0px !important;
  margin-left: 20px;
  justify-content: initial;
  text-align: initial;
  align-items: initial;
  align-content: initial;
}
.grid2col{
  display: grid;
  grid-auto-columns: 50% 50%;
}
#equipo div{
  padding: 30px 100px
}
#equipo p{
  margin-top: 30px;
}
.appL{
  grid-column: 1
}
.appL > * {
  justify-content: initial;
  text-align: initial;
  align-items: initial;
  align-content: initial;
  padding-left: 70px;
}
.appL a, .appR a, .appL h5, .appR h5 {
  padding: 0;
  margin: 10px 0
}
.appR{
  grid-column: 2
}
.appR > * {
  justify-content: initial;
  text-align: initial;
  align-items: initial;
  align-content: initial;
  padding-right: 70px
}
#apps > div{
  padding: 40px
}
#apps h3{
  font-family: 'Roboto Thin', Helvetica, sans-serif;
  color: white;
  font-weight: 100
}
#apps h4{
  font-family: 'Roboto Thin', Helvetica, sans-serif;
  font-size: 30px;
  color: white;
  font-weight: 100
}
#apps h5{
  margin-top: 24px;
  text-align: center;
  color: white;
}
#apps p, #apps ul *{
  font-family: 'Open Sans', Helvetica, sans-serif;
  color: white;
  font-weight: 100
}
#app-smc{
  background: #0f4686;
  grid-column-start: 1;
  grid-column-end: 3
}
#app-smc > div{
  display: grid; 
  grid-auto-columns: auto auto; 
  padding: 40px 200px; 
  grid-gap: 40px
}
h2, span {
  font-size: 70px;
  height: auto;
  font-weight: normal;
  font-family: Futura, Arial, Helvetica, sans-serif;
  text-align: center
}
h3{
  font-size: 40px;
  padding: 10px 0;
  font-family: Raleway, Arial, Helvetica, sans-serif
}
h5{
  font-family: Raleway, Arial, Helvetica, sans-serif;
  font-size: 18px;
  padding: 6px;
  text-transform: uppercase;
}
p{
  font-family: Lato, Arial, Helvetica, sans-serif;
  font-size: 18px;
}
.btnplano{
  color:#fff;
	text-decoration:none;
	padding: 10px 20px !important;
	font-size:20px;	
	font-family: Lato, Helvetica, sans-serif;
	-webkit-transition:all 350ms ease;
	transition:all 350ms ease;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
  user-select: none;
}
.btnplano:hover{
	background:#fff;
	border-radius:25px;
	color: rgb(31, 106, 192);
}
form{
  align-self: center;
}
input:not([type=submit]), textarea{
  min-width: 500px;
  min-height: 24px;
  max-width: 500px;
  text-align: left;
	font-size:18px;
	padding:10px 18px;
	margin: 10px;
	margin-left: 20px;
	display:block;
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	width: 500px;
  border:none;
  border: 1px solid black;
	border-radius: 4px;
	outline: 0;
	background-position: center;
  transition: border-radius 275ms, border 275ms;
}
input:not([type=submit]):hover, input:not([type=submit]):focus, textarea:hover, textarea:focus{
  border: 1px solid rgb(9, 117, 206);
	border-radius: 24px;
}
input[type=submit]{
  background: rgb(9, 117, 206);
	border: none;
	padding: 12px 16px;
	margin: 5px;
	border-radius: 4px;
	color: white;
	font-family: Roboto, Helvetica, sans-serif;
	font-size: 18px;
	text-transform: uppercase;
	box-shadow: 0px 1px 4px #999;
	-webkit-transition:all 350ms ease;
  transition:all 350ms ease;
  outline: 0;
}
input[type=submit]:hover{
	box-shadow: 0px 4px 10px #999
}
input[type=submit]:active{
  background: rgb(11, 97, 168);
	box-shadow: 0px 4px 20px #999;
}

.intermitente {
  animation-name: parpadeo;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
#menu{
  display: none
}
#progbar {
	height: 4px;
	margin-top: -4px;
	background: #fff;
	width: 0%;
}
.icono{
	transition: all 275ms ease;
	width:30px;
	height:30px;
	padding:10px;
  background: transparent;
  fill: gray;
}
.white{
  fill: white
}
.material-icons{
  color: white;
}
.icono:hover{border-radius: 25px; fill: white}
.red:hover{background-color:red;}
.green:hover{background-color:green}
.skyblue:hover{background-color:deepskyblue;}
.sosoblue:hover{background-color:steelblue;}
.black:hover{background-color:black;}
.orange:hover{background-color:orange;}
.white:hover{background-color: white;  fill: rgb(0, 105, 224) !important;}

@keyframes parpadeo {
  0% {
    opacity: 1.0;
  }
  15% {
    opacity: 1.0;
  }
  50% {
    opacity: 0.0;
  }
  85% {
    opacity: 1.0;
  }
  100% {
    opacity: 1.0;
  }
}

@media screen and (max-width:1150px), (pointer:coarse){
  #app_hacemos{
    height: 50vh;
  }
  #app_hacemos h2{
    padding: 20px !important;
    font-size: 7.5vh
  }
  #app_hacemos span{
    font-size: 7.5vh
  }
  .grid2col{
    grid-auto-columns: 100% !important
  }
  .grid2col > *{
    grid-column: 1 !important
  }
  #equipo h2{
    grid-column: 1 !important
  }
  #equipo div{
    grid-column: 1 !important
  }
  .appL, .appR{
    grid-column: 1 !important
  }
  .appL *, .appR * {
    justify-content: initial;
    text-align: initial;
    align-items: initial;
    align-content: initial;
    padding-left: 30px;
  }
  .appL a, .appR a, .appL h5, .appR h5 {
    padding: 0 !important;
    margin: 10px 0
  }
  .appL svg, .appR svg{
    padding: 10px
  }
  #app-smc > div{
    padding: 40px 20px; 
    grid-gap: 20px
  }
  p{
    font-size: 2vh
  }
  .main p br{
    display: none;
  }

}

@font-face {
  font-family: Futura;
  src: url('fonts/FuturaBT-Medium.otf') format('woff'), url('fonts/FuturaBT-Medium.otf') format('opentype'), url('fonts/FuturaBT-Medium.otf') format('truetype');
}
@font-face {
  font-family: 'Roboto Thin';
  font-style: normal;
  font-weight: 100;
  src: url('fonts/Roboto-Thin.ttf') format('truetype'), url('fonts/Roboto-Thin.ttf') format('opentype');
}
@font-face {
  font-family: 'Roboto Light';
  font-style: normal;
  font-weight: 100;
  src: url('fonts/Roboto-Light.ttf') format('truetype'), url('fonts/Roboto-Light.ttf') format('opentype');
}